@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: 'Roboto', sans-serif;
}

body{

    background: linear-gradient(to bottom, #C2A236, #bc9f35);
}
.navegador{
    background-color: #383F75;
    border-bottom: 1px solid black;
}

.izquierda{
    background-color: #48752C;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.datos{
    border: 3px solid #383F75;
    border-radius: 10px;
    padding: 10px;
}
footer{
    background-color: #383F75;;
    color: white;
}

.informacion{
    text-align: justify;
}